# Telecom Customer Churn Case Study

You have been provided with a dataset related to telecom customer churn. Each row in the dataset represents a unique customer, and the columns contain various attributes and information about these customers.

The data set includes information about:
- Churn Column: Indicates customer churn within the last month.
- Services Info: Subscribed services like phone, internet, etc.
- Account Details: Tenure, contract, billing, charges.
- Demographics: Gender, age, and family status.

## Load the dataset in a dataframe

In [15]:
#import necessary libraries

import pandas as pd
import numpy as np
import matplotlib

In [8]:
#1. import the provided dataset to dataframe (telecom_customer_churn.csv)

df = pd.read_csv("telecom_customer_churn.csv")


#2. change the settings to display all the columns
pd.set_option('display.max_columns', None)


#3. check the number of rows and columns
print(df.shape)


#4. check the top 5 rows
df.head()

(7043, 21)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [11]:
#display all the column names
print(df.columns)

Index(['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'internet_service',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
       'payment_method', 'monthly_charges', 'total_charges', 'churn'],
      dtype='object')

In [12]:
# Check if the dataset contains nulls
df.isnull().sum()

customer_id          0
gender               0
senior_citizen       0
partner              0
dependents           0
tenure               0
phone_service        0
multiple_lines       0
internet_service     0
online_security      0
online_backup        0
device_protection    0
tech_support         0
streaming_tv         0
streaming_movies     0
contract             0
paperless_billing    0
payment_method       0
monthly_charges      0
total_charges        0
churn                0
dtype: int64

In [13]:
#check the datatype of all columns
df.dtypes

customer_id           object
gender                object
senior_citizen         int64
partner               object
dependents            object
tenure                 int64
phone_service         object
multiple_lines        object
internet_service      object
online_security       object
online_backup         object
device_protection     object
tech_support          object
streaming_tv          object
streaming_movies      object
contract              object
paperless_billing     object
payment_method        object
monthly_charges      float64
total_charges         object
churn                 object
dtype: object

In [35]:
# Fix the datatype
#convert the datatype of 'monthly_charges', 'total_charges', 'tenure' to numeric datatype (pd.to_numeric)

df['monthly_charges'] = pd.to_numeric(df['monthly_charges'],errors='coerce')
df['total_charges'] = pd.to_numeric(df['total_charges'],errors='coerce')
df['tenure'] = pd.to_numeric(df['tenure'],errors='coerce')

df.head(10)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.50,Yes
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.40,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.90,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes,Yes,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No

Q1 - Calculate the mean, median, and mode of the monthly_charges column

In [19]:
print("Monthly Charges Mean: ", df.monthly_charges.mean())
print("Monthly Charges Median: ", df.monthly_charges.median())
print("Monthly Charges Mode: ", df.monthly_charges.mode()[0])

Monthly Charges Mean:  64.76169246059918
Monthly Charges Median:  70.35
Monthly Charges Mode:  20.05

Q2 - Calculate the 25th, 50th, and 75th percentiles of the total_charges column

In [20]:

print("25th Percentile: ", df['total_charges'].quantile(0.25))  # 25th percentile
print("50th Percentile (Median): ", df['total_charges'].quantile(0.5))  # 50th percentile
print("75th Percentile: ", df['total_charges'].quantile(0.75))  # 75th percentile

25th Percentile:  401.45
50th Percentile (Median):  1397.475
75th Percentile:  3794.7375

Q3 - Calculate the range of monthly_charges column?

Hint - Range is the difference between max and min of monthly_charges.

In [22]:
print("Monthly Charges Range: ",(df['monthly_charges'].max()-df['monthly_charges'].min()))

Monthly Charges Range:  100.5

Q4 - What is the first quartile of the monthly_charges column for customers who have not churned?

In [23]:
print("1st Quartile Not Churned: ",df.loc[df['churn'] == 'No', 'monthly_charges'].quantile(0.25))

1st Quartile Not Churned:  25.1

Q5 - What is the third quartile of the total_charges column for customers who have churned?

In [25]:
print("3rd Quartile Churned: ",df.loc[df['churn'] == 'Yes', 'total_charges'].quantile(0.75))

3rd Quartile Churned:  2331.3

Q6-  What is the mode of the payment method column for customers who have churned?

In [27]:
print("Payment method Mode of churned customers: ",df.loc[df['churn'] == 'Yes', 'payment_method'].mode()[0])

Payment method Mode of churned customers:  Electronic check

Q7 - What is the mean of the total charges column for customers who have churned and have a month-to-month contract?

In [34]:
# Filter the rows based on the churn status and contract type

df_filtered = df.loc[(df["churn"]=="Yes") & (df['contract']=='Month-to-month')]


# Calculate the mean of the total charges column
avg_filtered = df_filtered['total_charges'].mean()


# Print the result
print('Mean of total charges column for customers who have churned and have a month-to-month contract:',avg_filtered)

Mean of total charges column for customers who have churned and have a month-to-month contract: 1164.4605740181269

Q8 - What is the median of the tenure column for customers who have not churned and have a two-year contract?

In [38]:
# Filter the rows based on the churn status and contract type

df_filtered_2 = df.loc[(df["churn"]=="No") & (df['contract']=='Two year')]


# Calculate the median of the tenure column
median_filtered = df_filtered_2['tenure'].median()


# Print the result
print("Median of the tenure column for customers who have not churned and have a two-year contract:",median_filtered)

Median of the tenure column for customers who have not churned and have a two-year contract: 64.0